# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*.code-workspace

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore any .tfvars files that are generated automatically for each Terraform
# run. Most .tfvars files are not managed as part of configuration and so should
# not be included in version control.
terraform.tfvars

